# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/

# Django
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Migrations cache
*.log